PyQt5
pywhatkit
Pillow
keyboard
pyperclip
requests
gradio-client
g4f
google-generativeai
selenium
colorama
pyttsx3
pygame
edge-tts
python-pptx
youtube-transcript-api
duckduckgo-search
sumy
pyautogui
opencv-python
easyocr
numpy
torch
nltk
SpeechRecognition
sounddevice
github
GitPython
langchain
google
lxml_html_clean
languagemodels
functools
