Today's date is {{ date }} {{ time }}.
The current working directory is {{ cwd }}, which IS a git repository.
The user's operating system is {{ os }}.
The contents of the current working directory are:
{{ listdir }}